<div class="container">
  <!-- bootstrap form -->
  <br>
  <br>
  <form class="w-75 m-auto" #eventForm="ngForm">
    <h2>Edit event</h2>
    <br>
    <br>
    <div class="form-group">
      <label for="titre">Title</label>
      <input type="text" name="titre" id="titre" [(ngModel)]="event.titre" class="form-control" ngModel required placeholder="Event title">
      <!-- <small id="helpId" class="text-muted">Help text</small> -->
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea ngModel required type="text" name="description" [(ngModel)]="event.description" id="description" class="form-control" placeholder="Event description"></textarea>
      <!-- <small id="helpId" class="text-muted">Help text</small> -->
    </div>
    <div class="form-group">
      <label for="dateCreation">Start date</label>
      <input type="date" name="dateCreation" id="dateCreation" class="form-control" ngModel required datetime="yyyy-MM-ddTHH:mm:ss" [(ngModel)]="event.dateCreation">
      <!-- <small id="helpId" class="text-muted">Help text</small> -->
    </div>
    <div class="form-group">
      <label for="dateCloture">End date</label>
      <input type="date" name="dateCloture" ngModel required id="dateCloture" class="form-control" [(ngModel)]="event.dateCloture">
      <!-- <small id="helpId" class="text-muted">Help text</small> -->
    </div>
    <button type="submit" class="btn btn-primary float-right mt-2" (click)="editEvent($event,eventForm)">Edit event</button>
  </form>
</div>
