<br>
<br>
<img src="assets/logo.png" width="85%" alt="logo" class=" ml-2">
<br>
<br>
<br>
<ul class="sidebar-list pl-0">
  <li class="sidebar-item" routerLink="/dashboard/users" routerLinkActive="active">Users</li>
  <li class="sidebar-item" routerLink="/dashboard/events" routerLinkActive="active">Events</li>
  <li class="sidebar-item" routerLink="/dashboard/bestPractices" routerLinkActive="active">Best practices</li>
  <li class="sidebar-item" routerLink="/dashboard/documentations" routerLinkActive="active">Documentations</li>
  <br>
  <br>
  <br>
  <li class="sidebar-item" (click)="logout()"> <em class="fa fa-arrow-right-from-bracket"></em>Log out</li>
</ul>
