<div class="container">
  <br>
  <h3>Users management</h3>
  <br>
  <br>
  <table class="table table-striped table-light">
    <thead>
      <th>Full name</th>
      <th>CIN</th>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th>isVerified</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.fullName ?? '--' }}</td>
        <td>{{user.cinUser ?? '--'}} </td>
        <td>{{user.username}}</td>
        <td>{{user.emailUser}}</td>
        <td>{{user.role}}</td>
        <td> <em class="fa fa-check text-success" *ngIf="user.verified"></em>
          <span (click)="validateUser(user.idUser)" *ngIf="!user.verified" class="validate-btn">verify User</span>
        </td>

      </tr>
    </tbody>
  </table>
</div>
