<app-header></app-header>
<div class="inner-main-body p-2 p-sm-3 forum-content">
  <a routerLink="/bestPractices" class="btn btn-light btn-sm mb-3 has-icon"><i class="fa fa-arrow-left mr-2"></i>Back</a>
  <div class="card mb-2">
    <div class="card-body">
      <div class="media forum-item">
        <div class="media-body ml-3">
          <a href="javascript:void(0)" class="text-secondary">Username</a>
          <small class="text-muted ml-2">{{bp.dateCreation | date: "medium"}}</small>
          <h5 class="mt-1">{{bp.titre}}</h5>
          <div class="mt-3 font-size-sm">
            <p> {{bp.description}} </p>
          </div>
        </div>
        <div class="text-muted small text-center">
          <span class="d-none d-sm-inline-block"><i class="far fa-eye"></i> 19</span>
          <span><i class="far fa-comment ml-2"></i> 3</span>
        </div>
      </div>
    </div>
  </div>
</div>
